<html>
  
  <head>
    <title>The TH Potins</title>
  </head>
  
  <body>
    <h1>PAGE THPOTIN</h1>
    
    <h3>Voici la page du potin n°<%=params['id']%></h3>
    <p>Son auteur : <%= gossip[0].author.capitalize%></p>
    <p>Le contenu du potin : <%= gossip[0].content.capitalize%></p>
    <p><a href='http://localhost:4567/'>Lien pour revenir à la page des potins</p><br/>
    <a href='http://localhost:4567/gossips/<%=params['id']%>/edit'> Modifier le potin</a>
    <a href='http://localhost:4567/gossips/<%=params['id']%>/edit'><button type=button >Modifier le potin</button></a>
  </body>

</html>
